*{
/*   outline: 1px solid limegreen; */
}
body {
  background: blanchedalmond;
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.a {
  width: 100%;
  height:100%;
  text-align: center;
  line-height: 30;
  background: purple;
  margin: 5px;
}
.b{
  line-height: 60;
  width: 100%;
  height:100%;
  text-align: center;
  background: green;
  margin: 5px;
}
.c{
  width: 100%;
  height:100%;
  text-align: center;
  line-height: 30;
  background: red;
  margin: 5px;
}
@media (min-width: 600px) {
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .a {
    width: 100%;
    height:100%;
    text-align: center;
    line-height: 20;
    background: purple;
    margin: 10px;
  }
  .b{
    line-height: 30;
    width: 78%;
    height:100%;
    text-align: center;
    background: green;
    margin: 5px;

  }
  .c{
    width: 18%;
    height:100%;
    text-align: center;
    line-height: 30;
    background: red;
    margin: 5px;

}
}